################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevAndreaCarrattaIT.MailGun.Lib/obj
/DevAndreaCarrattaIT.MailGun.Lib/bin/Debug/netcoreapp2.2
