################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevAndreaCarrattaIT.MailGun.Lib/obj
